#carouselImg{
	height:600px;
	width: 100%;
}

#shopImg{
	height:200px;
	width:200px;
}

#bdayImg{
	height:200px;
	width:200px;	
}

#annImg{
	height:200px;
	width:200px;
}

#roseImg{
	height:200px;
	width:200px;
}

#tulipImg{
	height:200px;
	width:200px;
}

#mixImg{
	height:200px;
	width:200px;
}

h1{
	font-family: cursive;
	color: teal;
}

body{
	background-color: threedhighlight;	
}

