
<body>
	<div class="row">
		<div class="col-md-4">
			<img id="annImg" alt="bouquet 1" src="images/anniversary1.jpg" class="img-responsive center-block">
		</div>
		<div class="col-md-4">
			<img id="annImg" alt="bouquet 2" src="images/anniversary2.jpg" class="img-responsive center-block">
		</div>
		<div class="col-md-4">
			<img id="annImg" alt="bouquet 3" src="images/anniversary3.jpg" class="img-responsive center-block">
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<img id="annImg" alt="bouquet 2" src="images/anniversary2.jpg" class="img-responsive center-block">
		</div>
		<div class="col-md-4">
			<img id="annImg" alt="bouquet 3" src="images/anniversary3.jpg" class="img-responsive center-block">
		</div>
		<div class="col-md-4">
			<img id="annImg" alt="bouquet 1" src="images/anniversary1.jpg" class="img-responsive center-block">
		</div>	
	</div>
	<div class="row">
		<div class="col-md-4">
			<img id="annImg" alt="bouquet 3" src="images/anniversary3.jpg" class="img-responsive center-block">
		</div>
		<div class="col-md-4">
			<img id="annImg" alt="bouquet 1" src="images/anniversary1.jpg" class="img-responsive center-block">
		</div>
		<div class="col-md-4">
			<img id="annImg" alt="bouquet 2" src="images/anniversary2.jpg" class="img-responsive center-block">
		</div>
		
	</div>
</body>
