
<body>
	<div class="row">
		<div class="col-md-4">
			<img id="bdayImg" alt="bouquet 1" src="images/birthday1.jpg" class="img-responsive center-block">
		</div>
		<div class="col-md-4">
			<img id="bdayImg" alt="bouquet 2" src="images/birthday2.jpg" class="img-responsive center-block">
		</div>
		<div class="col-md-4">
			<img id="bdayImg" alt="bouquet 3" src="images/birthday3.jpg" class="img-responsive center-block">
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<img id="bdayImg" alt="bouquet 2" src="images/birthday2.jpg" class="img-responsive center-block">
		</div>
		<div class="col-md-4">
			<img id="bdayImg" alt="bouquet 3" src="images/birthday3.jpg" class="img-responsive center-block">
		</div>
		<div class="col-md-4">
			<img id="bdayImg" alt="bouquet 1" src="images/birthday1.jpg" class="img-responsive center-block">
		</div>	
	</div>
	<div class="row">
		<div class="col-md-4">
			<img id="bdayImg" alt="bouquet 3" src="images/birthday3.jpg" class="img-responsive center-block">
		</div>
		<div class="col-md-4">
			<img id="bdayImg" alt="bouquet 1" src="images/birthday1.jpg" class="img-responsive center-block">
		</div>
		<div class="col-md-4">
			<img id="bdayImg" alt="bouquet 2" src="images/birthday2.jpg" class="img-responsive center-block">
		</div>
		
	</div>
</body>
