<body ng-controller="contactController">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12">
				<div style="width: 100%;">
					<div style="float:left; width:30%;">
						<p>Send us a message or contact us from the address below</p>
						<p>
							<strong>Gardenia Pvt Ltd</strong> <br/>Plot No. 45<br />
							 111, Indra Nagar<br />
							 Bangalore - 456213<br /> Ph: +91 9999999999
						</p>
					</div>
					<div style="float: right; width: 70%;">
						<form class="form-horizontal">
							<div class="form-group">
								<label class="control-label col-sm-2" for="name">Name</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="name"
										placeholder="Enter your name">
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-2" for="email">Email</label>
								<div class="col-sm-10">
									<input type="email" class="form-control" id="email" ng-model="email"
										placeholder="Enter your Email Address" required/>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-2" for="url">Your
									Website</label>
								<div class="col-sm-10">
									<input type="url" class="form-control" id="url"
										placeholder="If you have any">
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-2" for="message">Any
									Message</label>
								<div class="col-sm-10">
									<textarea rows="10" cols="40" class="form-control" id="msg" ng-model="review"
										placeholder="Enter your message" required></textarea>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">
									<button type="submit" class="btn btn-info" data-toggle="modal" data-target="#messageModal" ng-click="contactSubmitMessage()">Submit</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div ng-show="message">
				<div id="messageModal" class="modal fade" role="dialog">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header"></div>
							<div class="modal-body">{{message}}</div>
							<div class="modal-footer"></div>
						</div>
					</div>
				</div>	
			</div>
		</div>
	</div>
</body>
