<body>
	<div class="row">
		<div class="col-md-4">
			<img id="shopImg" alt="bouquet 1" src="images/flowerShopImg1.jpg" class="img-responsive center-block">
		</div>
		<div class="col-md-4">
			<img id="shopImg" alt="bouquet 2" src="images/flowerShopImg2.jpg" class="img-responsive center-block">
		</div>
		<div class="col-md-4">
			<img id="shopImg" alt="bouquet 3" src="images/flowerShopImg3.jpg" class="img-responsive center-block">
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<img id="shopImg" alt="bouquet 2" src="images/flowerShopImg2.jpg" class="img-responsive center-block">
		</div>
		<div class="col-md-4">
			<img id="shopImg" alt="bouquet 3" src="images/flowerShopImg3.jpg" class="img-responsive center-block">
		</div>
		<div class="col-md-4">
			<img id="shopImg" alt="bouquet 1" src="images/flowerShopImg1.jpg" class="img-responsive center-block">
		</div>	
	</div>
	<div class="row">
		<div class="col-md-4">
			<img id="shopImg" alt="bouquet 3" src="images/flowerShopImg3.jpg" class="img-responsive center-block">
		</div>
		<div class="col-md-4">
			<img id="shopImg" alt="bouquet 1" src="images/flowerShopImg1.jpg" class="img-responsive center-block">
		</div>
		<div class="col-md-4">
			<img id="shopImg" alt="bouquet 2" src="images/flowerShopImg2.jpg" class="img-responsive center-block">
		</div>
		
	</div>
</body>
