<body>
	<div class="container" >
		<!-- id attribute is mandatory as based on the id carousel functions will be carried out -->
		<div id="flowersCarousel" class="carousel slide" data-ride="carousel">
			
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#flowersCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#flowersCarousel" data-slide-to="1"></li>
			</ol>
			
			<!-- Wrapper for Slides -->
			<div class="carousel-inner" role="listbox">
				<div class="item active">
					<img id="carouselImg" src="images/carouselImg1.jpg" alt="Flower Image 1" class="center-block img-responsive"/>
				</div>
				<div class="item">
					<img id="carouselImg" alt="Flower Image 2" src="images/carouselImg2.jpg" class="center-block img-responsive"/>
				</div>
			</div>
			
			<!-- Left and Right Controls -->
			<span class="left carousel-control" data-target="#flowersCarousel" role="button" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left"></span>
				<span class="sr-only">Previous</span>
			</span>
			<span class="right carousel-control" data-target="#flowersCarousel" role="button" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right"></span>
				<span class="sr-only">Next</span>
			</span>
		</div>
	</div>
</body>