<body ng-controller="loginController">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-2 col-md-8">
				<form name="loginForm" method="get" ng-submit="submitForm()">
					<div class="form-group">
						<label>Email:</label>
						<input type="email" id="email" name="email" ng-model="email" class="form-control" placeholder="Enter your email address" required />
					</div>
					<div class="form-group">
						<label>Password:</label>
						<input type="password" id="pwd" name="password" ng-model="password" class="form-control" placeholder="Enter your password" required />
					</div>
					<div class="checkbox">
						<label><input type="checkbox"/>Remember Me</label>
					</div>
					<button type="submit" class="btn btn-info" name="btnLogin">Login</button>
				</form>
			</div>
		</div>
	</div>
</body>