
<body>
	<div class="row">
		<div class="col-md-4">
			<img id="mixImg" alt="bouquet 1" src="images/mixed1.jpg" class="img-responsive center-block">
		</div>
		<div class="col-md-4">
			<img id="mixImg" alt="bouquet 2" src="images/mixed2.jpg" class="img-responsive center-block">
		</div>
		<div class="col-md-4">
			<img id="mixImg" alt="bouquet 3" src="images/mixed3.jpg" class="img-responsive center-block">
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<img id="mixImg" alt="bouquet 2" src="images/mixed2.jpg" class="img-responsive center-block">
		</div>
		<div class="col-md-4">
			<img id="mixImg" alt="bouquet 3" src="images/mixed3.jpg" class="img-responsive center-block">
		</div>
		<div class="col-md-4">
			<img id="mixImg" alt="bouquet 1" src="images/mixed1.jpg" class="img-responsive center-block">
		</div>	
	</div>
	<div class="row">
		<div class="col-md-4">
			<img id="mixImg" alt="bouquet 3" src="images/mixed3.jpg" class="img-responsive center-block">
		</div>
		<div class="col-md-4">
			<img id="mixImg" alt="bouquet 1" src="images/mixed1.jpg" class="img-responsive center-block">
		</div>
		<div class="col-md-4">
			<img id="mixImg" alt="bouquet 2" src="images/mixed2.jpg" class="img-responsive center-block">
		</div>
		
	</div>
</body>
