
<body>
	<div class="row">
		<div class="col-md-4">
			<img id="roseImg" alt="bouquet 1" src="images/rose1.jpg" class="img-responsive center-block">
		</div>
		<div class="col-md-4">
			<img id="roseImg" alt="bouquet 2" src="images/rose2.jpg" class="img-responsive center-block">
		</div>
		<div class="col-md-4">
			<img id="roseImg" alt="bouquet 3" src="images/rose3.jpeg" class="img-responsive center-block">
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<img id="roseImg" alt="bouquet 2" src="images/rose2.jpg" class="img-responsive center-block">
		</div>
		<div class="col-md-4">
			<img id="roseImg" alt="bouquet 3" src="images/rose3.jpeg" class="img-responsive center-block">
		</div>
		<div class="col-md-4">
			<img id="roseImg" alt="bouquet 1" src="images/rose1.jpg" class="img-responsive center-block">
		</div>	
	</div>
	<div class="row">
		<div class="col-md-4">
			<img id="roseImg" alt="bouquet 3" src="images/rose3.jpeg" class="img-responsive center-block">
		</div>
		<div class="col-md-4">
			<img id="roseImg" alt="bouquet 1" src="images/rose1.jpg" class="img-responsive center-block">
		</div>
		<div class="col-md-4">
			<img id="roseImg" alt="bouquet 2" src="images/rose2.jpg" class="img-responsive center-block">
		</div>
		
	</div>
</body>


