
<body  ng-controller="signupController">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<form name="signupform" ng-submit="submitForm()">
					<div class="form-group">
						<label for="firstName">First Name</label>
						<input type="text" class="form-control" id="firstName" required/>
					</div>
					<div class="form-group">
						<label for="lastName">Last Name</label>
						<input type="text" class="form-control" id="lastName"/>
					</div>
					<div class="form-group">
						<label for="email">Email</label> 
						<input type="email" class="form-control" id="email" name="email" ng-model="email" ng-change="validateEmail()" required/>
						<span ng-show="validityValEmail">Email ID should contain only one '@' and only one period after '@'</span>
					</div>
					<div class="form-group">
						<label for="pwd">Password</label> 
						<input type="password" class="form-control" id="pwd" name="pwd" ng-model="typedPwd" ng-change="validatePwd()"/>
						<span ng-show="validityValPwd">Password should contain minimum of 8 characters and atleast one special character</span>
					</div>
					<div class="form-group">
						<label for="pwd">Confirm Password</label>
						<input type="password" name="retypedPwd" ng-model="retypedPwd" class="form-control" id="pwd1" ng-change="matchPassword()"/>
						<span ng-show="flag">Passwords in both the fields donot match.</span>
						<span>
							<label><input type="checkbox" id="check" ng-model="showPwd" ng-change="showPassword()"/>Show Password</label>
						</span>
					</div>
					<button type="submit" class="btn btn-info" name="btnSignUp">Submit</button>
				</form>
			</div>
		</div>
	</div>
</body>
