
<body>
	<div class="row">
		<div class="col-md-4">
			<img id="tulipImg" alt="bouquet 1" src="images/tulip1.jpg" class="img-responsive center-block">
		</div>
		<div class="col-md-4">
			<img id="tulipImg" alt="bouquet 2" src="images/tulip2.jpg" class="img-responsive center-block">
		</div>
		<div class="col-md-4">
			<img id="tulipImg" alt="bouquet 3" src="images/tulip3.jpeg" class="img-responsive center-block">
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<img id="tulipImg" alt="bouquet 2" src="images/tulip2.jpg" class="img-responsive center-block">
		</div>
		<div class="col-md-4">
			<img id="tulipImg" alt="bouquet 3" src="images/tulip3.jpeg" class="img-responsive center-block">
		</div>
		<div class="col-md-4">
			<img id="tulipImg" alt="bouquet 1" src="images/tulip1.jpg" class="img-responsive center-block">
		</div>	
	</div>
	<div class="row">
		<div class="col-md-4">
			<img id="tulipImg" alt="bouquet 3" src="images/tulip3.jpeg" class="img-responsive center-block">
		</div>
		<div class="col-md-4">
			<img id="tulipImg" alt="bouquet 1" src="images/tulip1.jpg" class="img-responsive center-block">
		</div>
		<div class="col-md-4">
			<img id="tulipImg" alt="bouquet 2" src="images/tulip2.jpg" class="img-responsive center-block">
		</div>
		
	</div>
</body>
